
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
.vs/X/v16/.suo
*.log
*.log
*.obj
*.tlog
*.log
*.pch
*.idb
*.exe
x64/Debug/X.pdb
x64/Debug/X.lib
x64/Debug/ImGui.pdb
x64/Debug/ImGui.lib
x64/Debug/HalloweenWars.pdb
x64/Debug/HalloweenWars.lib
x64/Debug/HalloweenWars.exp
x64/Debug/FW1FontWrapper.pdb
x64/Debug/FW1FontWrapper.lib
x64/Debug/AI.pdb
x64/Debug/AI.lib
X/x64/Debug/X.log
X/External/ImGui/x64/Debug/ImGui.log
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK.pdb
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK.lib
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudioWin8.pdb
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudioWin8.lib
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.vcxproj.FileListAbsolute.txt
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.log
AI/x64/Debug/AI.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.vcxproj.FileListAbsolute.txt
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.log
X/External/ImGui/x64/Debug/ImGui.log
X/x64/Debug/X.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.vcxproj.FileListAbsolute.txt
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.log
X/External/ImGui/x64/Debug/ImGui.log
X/x64/Debug/X.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/Win32/Debug/DirectXTKAudioWin8.Build.CppClean.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/Win32/Debug/DirectXTKAudioWin8.lib
X/External/DirectXTK/Audio/Bin/Desktop_2017/Win32/Debug/DirectXTKAudioWin8.pdb
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.vcxproj.FileListAbsolute.txt
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudioWin8.Build.CppClean.log
X/External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK.Build.CppClean.log
X/External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK.lib
X/External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK.pdb
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK.Build.CppClean.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
X/External/FW1FontWrapper/Debug/FW1FontWrapper.Build.CppClean.log
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.Build.CppClean.log
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.log
X/External/ImGui/Debug/ImGui.Build.CppClean.log
X/External/ImGui/x64/Debug/ImGui.Build.CppClean.log
X/External/ImGui/x64/Debug/ImGui.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/Win32/Debug/DirectXTKAudioWin8.Build.CppClean.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/Win32/Debug/DirectXTKAudioWin8.lib
X/External/DirectXTK/Audio/Bin/Desktop_2017/Win32/Debug/DirectXTKAudioWin8.pdb
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.log
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudio_Desktop_2017_Win8.vcxproj.FileListAbsolute.txt
X/External/DirectXTK/Audio/Bin/Desktop_2017/x64/Debug/DirectXTKAudioWin8.Build.CppClean.log
X/External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK.Build.CppClean.log
X/External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK.lib
X/External/DirectXTK/Bin/Desktop_2017/Win32/Debug/DirectXTK.pdb
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK.Build.CppClean.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.log
X/External/DirectXTK/Bin/Desktop_2017/x64/Debug/DirectXTK_Desktop_2017.vcxproj.FileListAbsolute.txt
X/External/FW1FontWrapper/Debug/FW1FontWrapper.Build.CppClean.log
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.Build.CppClean.log
X/External/FW1FontWrapper/x64/Debug/FW1FontWrapper.log
X/External/ImGui/Debug/ImGui.Build.CppClean.log
X/External/ImGui/x64/Debug/ImGui.Build.CppClean.log
X/External/ImGui/x64/Debug/ImGui.log
X/Debug/X.Build.CppClean.log
X/x64/Debug/X.Build.CppClean.log
X/x64/Debug/X.log
AI/Debug/AI.Build.CppClean.log
AI/x64/Debug/AI.Build.CppClean.log
AI/x64/Debug/AI.log
Build/Debug/x64/HalloweenWars.exp
Build/Debug/x64/HalloweenWars.pdb
X/x64/Debug/X.log
*.pdb
